<table class="table">
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Nick Name</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Cohort</th>
      <th>Current</th>
    </tr>
  </thead>
  <tbody>
    <tr class="hellofriends" ng-repeat="(id, person) in tas.data
      | filter:friendFilterQuery
      | orderBy:['current','-nickName']:friendReverse">
      <td>
        <img class="index--thumbnail" ng-src="{{person.imgUrl}}">
      </td>
      <td>
        <span ng-hide="tas[id].editing" ng-dblclick="tas.editTA(person)">{{person.name}}</span>
        <input ng-show="tas[id].editing" ng-model="person.name">
      </td>
      <td>{{person.nickName | uppercase}}</td>
      <td>{{person.firstName}}</td>
      <td>{{person.lastName}}</td>
      <td>{{person.cohort}}</td>
      <td><input type="checkbox" ng-change="tas.updateTA(id)" ng-model="person.current"></td>
      <td>
        <a class="btn btn-default" href="/#/tas/{{id}}">View</a>
        <button class="btn btn-warning" ng-click="tas.removeTA(id)">X</button>
      </td>
      <td>
        <a class="btn btn-default" href="/#/tas/{{id}}/edit">Edit</a>
      </td>
    </tr>
  </tbody>
</table>

<br>
Search: <input ng-model="friendFilterQuery">
<br>
Sort:
<button ng-click="friendReverse=!friendReverse">Change Sort</button>
<br>
